button{
  background-color: #85AF2F;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
h2 {
  color:#85AF2F;
  font-weight: 600;
}
