<div id="header">
  <div class="header-import">
    <app-import (imported)="onFileImported()"></app-import>
  </div>
  <div class="header-pagination">
    <app-pagination
      (updated)="onPaginationUpdated($event)"
      [totalItemCount]="totalItemCount"
    ></app-pagination>
  </div>

  <div class="header-export">
    <app-export></app-export>
  </div>

  <div class="header-save">
    <app-save (saved)="onSaved()"></app-save>
  </div>

  <div class="header-not-deleted-items-number">
    <div>
      <p
        style="color: #85af2f; font-weight: 700"
        class="title-not-deleted-items-number"
      >
        Akuális rendelések száma: {{ this.currentNumberOfOrders }}
      </p>
    </div>
  </div>
</div>

<table class="table">
  <tr class="fejlec">
    <th>Importálás Dátuma</th>
    <th>Cimzett</th>
    <th>Szallitasi opció</th>
    <th>Cikkszám</th>
    <th>Cikk megnevezése</th>
    <th>Megrendelés azonositó</th>
    <th>Állapot</th>
  </tr>
  <tr>
    <th>
      <input
        type="date"
        [(ngModel)]="selectedDate"
        (ngModelChange)="onSelectedDate()"
        placeholder="ÉV-HÓNAP-NAP"
      />
    </th>
    <th>
      <input
        [(ngModel)]="selectedAdressee"
        (ngModelChange)="onSelectedAddressee()"
        placeholder="cimzett"
      />
    </th>
    <th>
      <select
        [(ngModel)]="selectedDeliveryOption"
        (ngModelChange)="onSelectedDeliveryOption()"
      >
        <option value="">Nincs szűrés</option>
        <option
          *ngFor="let deliveryOption of deliveryOptions"
          [value]="deliveryOption"
        >
          {{ deliveryOption }}
        </option>
      </select>
    </th>
    <th>
      <input
        [(ngModel)]="selectedArticleNumber"
        (ngModelChange)="onSelectedArticleNumber()"
        placeholder="cikkszam"
      />
    </th>
    <th>
      <input
        [(ngModel)]="selectedArticleName"
        (ngModelChange)="onSelectedArticleName()"
        placeholder="cikkmegnevezes"
      />
    </th>
  </tr>
  <tr
    *ngFor="let product of products"
    [style.background]="getRowBackground(product)"
    [class.elso-rendeles-azonosito]="product.elsoRendelesAzonosito"
  >
    <td>{{ product.importalasDatuma }}</td>
    <td>{{ product.cimzett }}</td>
    <td>{{ product.szallitasiOpcio }}</td>
    <td>{{ product.cikkszam }}</td>
    <td>{{ product.cikkMegnevezese }}</td>
    <td>{{ product.rendelesAzonosito }}</td>
    <td>
      <ng-container *ngIf="!product.lezart">
        <button
          *ngIf="!product.torolt"
          (click)="toggleProductDeleted(product._id)"
        >
          Törlés
        </button>
        <button
          *ngIf="product.torolt"
          (click)="toggleProductDeleted(product._id)"
        >
          Visszavonás
        </button>
      </ng-container>
      <ng-container *ngIf="product.lezart && product.torolt"
        >Törölve</ng-container
      >
    </td>
  </tr>
</table>
