th, td {
  border: 1px solid #ddd;
}
ul {
  text-align: center;
  padding: 0px
}
li {
  margin-left: 100px;
  margin-right: 100px;
  display: inline-block;
  width: auto;
  list-style: outside none none;
}
.table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-style: solid;
  border-color: grey;
  border: 1px solid black;
}
th, td {
  padding: 15px;
}
.fejlec {
  background-color: #85AF2F;
  color: white;
}

#header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .header-import {
    display: flex;
    width: auto;
  }
  .header-pagination {
    display: flex;
    width: auto;
  }
  .header-export {
    display: flex;
    width: auto;
  }
  .header-save {
    display: flex;
    width: auto;
  }
  .header-not-deleted-items-number {
    display: flex;
    width: auto;
  }
}
tr.elso-rendeles-azonosito {
  border-top: 3px solid #000;
}
