<div class="pagination">
  <button (click)="onPrevClick()">
    <i class="arrow left"></i>
  </button>
  <select [(ngModel)]="limit" (ngModelChange)="onLimitChange()">
      <option *ngFor="let limitValue of limitValues" [value]="limitValue" >{{limitValue}}</option>
  </select>
  <button (click)="onNextClick()">
    <i class="arrow right">
    </i>
  </button>
</div>
<div class="pages">
Oldal: {{page}} / {{totalPages}}
</div>

