.pagination {
  text-align: center;
}
.pages {
  font-size: large;
  font-weight: 500;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color:#85AF2F;
  font-weight: 600;
}
button {
  background-color: #85AF2F;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
select{
  margin-right: 5px;
  margin-left: 5px;
  text-align-last: center;
  height: 20px;
  padding-right: 10px;
  border-radius: 10px;
  position: relative;
  font-family: Arial;
  color: white;
  background-color: #85AF2F;
  border: none;
}
option{
  text-align: center;
  color: white;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
